* {
    margin: 0;
    padding: 0;
}

header {
    margin-top: 8rem;
    margin-left: .5rem;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif !important;
}

header p {
    color: rgb(61, 61, 61);
}

main {
    margin-top: 50px;
    margin-left: .5rem;
    display: flex;
}


main .productos {
    width: 70%;
}

main .productos .producto * {
    margin: .4rem;
}

main .productos .producto {
    display: flex;
    box-shadow: rgba(77, 77, 77, 0.16) 0px 1px 5px, rgb(212, 212, 212) 0px 0px 0px 2px;
    border-radius: .5rem;
    justify-content: space-between;
    margin-top: 20px;
}

main .productos .producto .header-producto {
    display: flex;
    width: 60%;
}

main .productos .producto .header-producto img {
    object-fit: cover;
    width: 10rem;
    height: 8rem;
}

main .productos .producto .header-producto .info-producto h2 {
    font-size: 1.3rem;
    font-weight: bold;
    color: rgb(31, 31, 31);
}

main .productos .producto .header-producto .info-producto h3 {
    font-size: 1.2rem;
    font-weight: normal;
    color: rgb(31, 31, 31);
}

main .productos .producto .header-producto .info-producto {
    line-height: 40px;
}

span {
    color: rgb(75, 45, 1);
    font-weight: bold;
}

aside {
    margin-top: -.9rem;
    font-family: Arial, Helvetica, sans-serif !important;
}

#numero {
    width: 50px;
}

.resumen {
    box-shadow: rgba(77, 77, 77, 0.16) 0px 1px 5px, rgb(212, 212, 212) 0px 0px 0px 2px;
    width: 40%;
    margin: 20px;
    height:150px;
}

.resumen h2 {
    font-size: 1.2rem;
    margin: 10px;
}

.resumen button {
    cursor: pointer;
    background-color: #ffe760;
    border: 1px solid transparent;
    border-radius: .75rem;
    box-sizing: border-box;
    font-size: 1.125rem;
    font-weight: normal;
    line-height: 1.5rem;
    padding: .75rem 1.2rem;
    text-align: center;
    width: 90%;
    font-family: 'Source Sans Pro', sans-serif;
    margin:30px 10px; 
}

#precio{
    font-size:1rem;
    color:rgb(56, 56, 56);
}

.facturacion{
    font-family: Arial, Helvetica, sans-serif;
    margin-top:100px;
}

form{
    margin-top:20px;
    box-shadow: rgba(77, 77, 77, 0.16) 0px 1px 5px, rgb(212, 212, 212) 0px 0px 0px 2px;
    width:100%;
    color:rgb(43, 43, 43);
}


form input{
    border:1px solid rgb(148, 148, 148);
    border-radius:.2rem;
    margin-left:10px;
    height:30px;
}

form input:focus{
    border-bottom:3px solid rgb(0, 81, 255);
    outline:none;
}

form select{
    margin-top:20px;
}

.facturacion h1{
    font-size:1.5rem;
}

.facturacion *{
    font-size:1rem;
}

.facturacion .form-option{
    margin:10px;
    display:flex;
    flex-direction:column;
}

.facturacion .form-column{
    display:flex;
}

#ntarjeta{
    width:30%;
    margin-bottom:20px;
}

.facturacion form label{
    margin-left:10px;
}

input[type=submit]{
    cursor: pointer;
    background-color: #ffe760;
    border: 1px solid transparent;
    border-radius: .75rem;
    box-sizing: border-box;
    font-size: 1.125rem;
    font-weight: normal;
    line-height: 0rem;
    padding: .75rem 1.2rem;
    text-align: center;
    width: 40%;
    font-family: 'Source Sans Pro', sans-serif;
    margin:30px 10px; 
    height:40px;
}

input[type=submit]:hover{
    text-decoration:underline;
}
